@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
footer p {
  color: white;
}

.flex {
  display: flex;
}

.center-x {
  justify-content: center;
}

.center-y {
  align-items: center;
}

header,
footer {
  padding: 1rem;
}

footer {
  padding-top: 1.5rem;
  margin-bottom: 0;
}

main {
  flex-wrap: wrap;
  min-height: 90vh;
  margin-top: 2rem;
}

main,
i {
  margin: 1rem;
}

i {
  font-size: 3rem;
}
